{% extends "layout.html" %} {% load static %} {% block loadInHead %}

<script src="{% static 'manager_app/index.js' %}"></script>

{% endblock %} {% block content %}

<main class="main-container">
    <section class="content-container">
        <div class="content">
            {% for department in departments %}

            <h1>{{department.department_name}} | {{department.department_id}}</h1>
            <h4>{{department.department_description}}</h4>
            <table>
                {% for user in department.users %}
                <tr class="spaced_row">
                <td class="spaced_small">{{user.identification}}</td>
                <td class="spaced">{{user.name}}</td>
                <td class="spaced">{{user.username}}</td>
                <td class="spaced">{{user.email}}</td>
                <td class="spaced">{{user.role}}</td>
                </tr>

                {% empty %}
                
                <p>DEPARTMENT IS EMPTY.</p>

                {% endfor %}

            </table>    

            {% empty %}

            <p>NO DEPARTMENTS EXIST.</p>
            
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}
