{% extends "layout.html" %} {% load static %} {% block loadInHead %}

<script src="{% static 'manager_app/index.js' %}"></script>

{% endblock %} {% block content %}

<main class="main-container">
    <section class="content-container">
        <div class="content">
            {% for department in departments %}

            <p>{{department.department_name}} | {{department.deparment_id}}</p>
            <p>{{department.department_description}}</p>
            <div>
                {% for user in department.users %}
                <p>{{user.username}} | {{user.email}}</p>

                {% empty %}
                
                <p>DEPARTMENT IS EMPTY.</p>

                {% endfor %}

            </div>    

            {% empty %}

            <p>NO DEPARTMENTS EXIST.</p>
            
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}
